	/* navbar */
.navbar-default {
	background-color: #990000;
	border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
}
/* link */
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #330000;
	background-color: #990000;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #777;
	border-bottom-color: #777;
}
.modal-title {
	color: #ffffff;
}
.modal-header {
	background-color:#990000;
}
.navbar-brand:hover  {
	color: #ffffff;
}
.middle {
	vertical-align: middle;
}
#selecticon {
	height: 34px;
}
.icon-success {
	color: #5CB85C;
}
.icon-danger {
	color: #cc0000;
}
.progress {
	margin-top:15px;
}
.toplittel {
	margin-top:20px;
}
.topsmall {
	margin-top:30px;
}
.bottomlittel {
	margin-bottom:20px;
}
.logosmall {
	height: 60px;
	width: auto;
}
.logobig {
	height: 120px;
	width: auto;
}